# JQuery on google
snippet jquery
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>

snippet row
	<div class="row">
	  ${1}
	</div>

snippet row-f
	<div class="row-fluid">
	  ${1}
	</div>

snippet sp
	<div class="span${1}">
	  ${2}
	</div>
