# right left (
snippet (
	\left(${1:content}\right)${2}

# right left [
snippet [
	\left[${1:content}\right]${2}

# right left {
snippet {
	\left\{${1:content}\right\}${2}

# intertext
snippet int
	\intertext{${1:content}}

# textrm
snippet \t
	\textrm{${1:content}}${2}
