snippet script "A javascript tag"
<script>
	$0
</script>
endsnippet

snippet < "html tag" i
<$1>
	$0
</$1>
endsnippet

snippet link "html style link"
<link rel="stylesheet" type="text/css" href="$1">
$0
endsnippet

snippet meta "html meta link"
<meta name="$1" content="$2">
$0
endsnippet

snippet table "html table"
<table>
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>
endsnippet
