snippet logger "setup a python logger"
logger = logging.getLogger(__name__)
endsnippet

snippet admin "django admin"
from django.contrib import admin


class $1Admin(admin.ModelAdmin):
	$0

admin.site.register(${1}, ${1}Admin)
endsnippet


snippet main "django main statement"
if __name__ == "__main__":
	$0
endsnippet

snippet Char "django char field"
CharField(max_length=255)
endsnippet
