snippet block "Volt block"
\{% block $1 %\}
${VISUAL}$0
\{% endblock %\}
endsnippet

snippet if "Volt if statement"
\{% if $1 %\}
$0
\{% endif %\}
endsnippet

snippet else "Volt else statement"
\{% else $1 %\}
$0
endsnippet

snippet elseif "Volt elseif statement"
\{% elseif $1 %\}
$0
endsnippet

snippet for "Volt for statement"
\{% for $1 in $2 %\}
$0
\{% endfor %\}
endsnippet

snippet extends "Volt extend statement"
\{% extends "$1" %\}
$0
endsnippet
