snippet FC "typescript FunctionComponent"
interface ${1}Props {
	${2}
}

const $1: FunctionComponent<$1Props> = ({ `!p snip.rv = ', '.join(s.split(':')[0].strip() for s in t[2].split('\n'))` }) => {
	${3}
}
endsnippet
